<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon Search App</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Pokemon Search App</h1>
    <div class="container">
      <form role="search"
    </div>
    <input id="search-input" required></input>
    <button id="search-button">Search</button>
    <div id="pokemon-name"></div>
    <div id="pokemon-id"></div>
    <div id="weight"></div>
    <div id="height"></div>
    <div id="types"></div>
    <div id="hp"></div>
    <div id="attack"></div>
    <div id="defense"></div>
    <div id="special-attack"></div>
    <div id="special-defense"></div>
    <div id="speed"></div>
    <div id="sprite-container"></div>
    
    <script src="script.js"></script>
  </body>
</html>